# Intro to Python: Projects

### Module 1 Project 1

In [ ]:
print('hello world')
# Comment Example

hello world

In [2]:
import sys
print(sys.version)

3.9.1 (tags/v3.9.1:1e5d33e, Dec  7 2020, 17:08:21) [MSC v.1927 64 bit (AMD64)]

In [4]:
z = 2 + 15 
print(z)

17

## Module 1 Project 2 ~ Types and Typecasting

In [5]:
# integer
x = 12
print(x, type(x))

12 <class 'int'>

In [6]:
# float
y = 12.5
print(y, type(y))

12.5 <class 'float'>

In [7]:
# string
z = "Hello"
print(z, type(z))

Hello <class 'str'>

In [ ]:
# boolean
a = True
print(a, type(a))

In [20]:
# typecasting
x = 1   # int
y = float(x)  # int to float
print(y, type(y))
z = str(x) # int to string
print(z, type(z))
a = bool(x)  # int to boolean
print(a, type(a))
s = '-4'
print(s, type(s))
t = int(s)  # string to int
print(t, type(t))

1.0 <class 'float'>
1 <class 'str'>
True <class 'bool'>
-4 <class 'str'>
-4 <class 'int'>

In [31]:
print(type(6/2))  # division always returns float
print(type(6//2)) # floor division returns int if both operands are int
print(type('Hello World'))  # string
print(type('hello'=='World'))  # boolean
print(type(int('1001')))
print(type(float('1234.56')))
print(str(123-456-7890))

<class 'float'>
<class 'int'>
<class 'str'>
<class 'bool'>
<class 'int'>
<class 'float'>
-8223

## Module 1 Project 3 ~ Expressions and Variables

In [42]:
# Addition
x = 5
y = 10
z = x + y
print("Addition:", x, '+', y, '=', z)
# Subtraction
a = 10
b = 5
c = a - b
print("Subtraction:", a, '-', b, '=', c)
# Multiplication
m = 4
n = 3
p = m * n
print("Multiplication:", m, '*', n, '=', p)
# Division
d = 22
e = 4
f = d / e
print("Division:", d, '/', e, '=', f)
## Integer Division
g = d // e
print("Integer Division:", d, '//', e, '=', g)
## Modulus
h = d % e
print("Modulus (i.e. remainder):", d, '%', e, '=', h)
## Exponentiation
i = 2
j = 3
k = i ** j
print("Exponentiation:", i, '**', j, '=', k)

Addition: 5 + 10 = 15
Subtraction: 10 - 5 = 5
Multiplication: 4 * 3 = 12
Division: 22 / 4 = 5.5
Integer Division: 22 // 4 = 5
Modulus (i.e. remainder): 22 % 4 = 2
Exponentiation: 2 ** 3 = 8

In [48]:
def hours_to_minutes(hours):
    return hours * 60

def minutes_to_hours_remainder(minutes):
    return {'hours': minutes // 60, 'minutes': minutes % 60}

def minutes_to_hours(minutes):
    return minutes / 60

print(hours_to_minutes(2))
print(minutes_to_hours(180))
print(minutes_to_hours_remainder(150))

120
3.0
{'hours': 2, 'minutes': 30}

## Module 1 Project 4 Strings and String Operations

In [50]:
name = "The BodyGuard"
print("Name:", name)

Name: The BodyGuard

In [58]:
# Indexes and Slicing
print(name[0])       # First character
print(name[1])       # Second character
print(name[-1])      # Last character
print(name[0:3])     # First three characters
print(name[4:])      # From the fifth character to the end
print(name[-5:])     # Last 5 characters
print(name[4:8])     # Internal Slice
print(name[::2])     # Every other character from string
print(name[::-1])    # Reversed string
print(name[0:5:2])   # every other character, up to index 5

T
h
d
The
BodyGuard
Guard
Body
TeBdGad
drauGydoB ehT
TeB

In [68]:
# String Operations
# concatenation
statement = name + " is an action thriller film"
print(statement)
# repetition
echo = "Echo! " * 3
print(echo)
# Escape sequences
print("He said, \"I'm here.\"")
print('Newline character:\\n\nNext line.')
print ('Tab character:\\t\tTabbed text.')

The BodyGuard is an action thriller film
Echo! Echo! Echo!
He said, "I'm here."
Newline character:\n
Next line.
Tab character:\t	Tabbed text.

In [76]:
# String Manipulation
greeting = "hello, World, my name is Justin!"
print(greeting.upper())      # Convert to uppercase
print(greeting.lower())      # Convert to lowercase
print(greeting.title())      # Convert to title case
print(greeting.replace("World", "Python"))  # Replace substring
print(greeting.split(", "))  # Split string into a list
person = 'Justin'
new_person = 'Alice'
print(greeting.find(person))  # Find substring index
print(greeting.replace(person, new_person))  # Replace substring with new name
print(greeting.find(new_person))  # Find new substring index 
print('-1 means not found')

HELLO, WORLD, MY NAME IS JUSTIN!
hello, world, my name is justin!
Hello, World, My Name Is Justin!
hello, Python, my name is Justin!
['hello', 'World', 'my name is Justin!']
25
hello, World, my name is Alice!
-1
-1 means not found

In [79]:
# Regex and more complex string operations
import re
s1 = "The BodyGuard is the best album"
pattern = "Body"
result = re.search(pattern, s1)
print(result)
if result:
    print("Pattern found at index:", result.start())
else:
    print("Pattern not found")

<re.Match object; span=(4, 8), match='Body'>
Pattern found at index: 4

In [83]:
# Special Sequences
# \d - matches any digit (0-9)
# \D - matches any non-digit character
# \w - matches any alphanumeric character (letters and digits)
# \W - matches any non-alphanumeric character
# \s - matches any whitespace character (spaces, tabs, line breaks)
# \S - matches any non-whitespace character

phone_pattern = r'\d{3}-*?\d{3}-*?\d{4}'  # Pattern to match phone numbers like 123-456-7890 or 1234567890
test_string = "Contact me at 123-456-7890 or 9876543210."
test2_string = "My office number is 123 456 7890."
matches = re.findall(phone_pattern, test_string)
matches2 = re.findall(phone_pattern, test2_string)
if matches:
    print(matches)
else:
    print("No matches found in:\n", '\t',test_string)
if matches2:
    print(matches2)
else:
    print("No matches found in:\n", '\t', test2_string)

['123-456-7890', '9876543210']
No matches found in:
 	 My office number is 123 456 7890.

In [88]:
names_list = ["Alice Smith", "Bob Johnson", "Charlie Lee", "Diana King", "Ethan Brown"]
first_names = []
last_names = []
for name in names_list:
    first, last = re.split('\s+', name)
    first_names.append(first)
    last_names.append(last)
print("First Names:", first_names)
print("Last Names:", last_names)

First Names: ['Alice', 'Bob', 'Charlie', 'Diana', 'Ethan']
Last Names: ['Smith', 'Johnson', 'Lee', 'King', 'Brown']

## Module 2 Project 1 - Lists and Tuples

In [89]:
L = ['string', 123, 45.67, True, [1, 2, 3], (4, 5), {'key': 'value'}]
print(L)
print(L[0])          # First element
print(L[-1])         # Last element
print(type(L))   # List type

['string', 123, 45.67, True, [1, 2, 3], (4, 5), {'key': 'value'}]
string
{'key': 'value'}
<class 'list'>

In [101]:
popularArtists = ['The Weeknd', 'Prince', 'Dua Lipa', 'Drake', 'Ariana Grande', 'Billie Eilish']
otherArtists = ['Taylor Swift', 'Ed Sheeran', 'Beyoncé', 'Bruno Mars', 'Kendrick Lamar']
print("Popular Artists List:", popularArtists)
popularArtists.append('Olivia Rodrigo')
print("Updated Popular Artists List (Append):", popularArtists)
popularArtists.extend(otherArtists)
print("Final Popular Artists List (Extend):", popularArtists)
popularArtists.remove('Drake')
print("After Removing 'Drake':", popularArtists)
popularArtists[1] = 'The Artist formerly known as Prince'
print("After updating 'Prince':", popularArtists)

commaSeperatedString = "The,BodyGuard,is,the,best,album"
print('Raw String:', commaSeperatedString)
commaSeperatedList = commaSeperatedString.split(',')
print('List from String:', commaSeperatedList)

Popular Artists List: ['The Weeknd', 'Prince', 'Dua Lipa', 'Drake', 'Ariana Grande', 'Billie Eilish']
Updated Popular Artists List (Append): ['The Weeknd', 'Prince', 'Dua Lipa', 'Drake', 'Ariana Grande', 'Billie Eilish', 'Olivia Rodrigo']
Final Popular Artists List (Extend): ['The Weeknd', 'Prince', 'Dua Lipa', 'Drake', 'Ariana Grande', 'Billie Eilish', 'Olivia Rodrigo', 'Taylor Swift', 'Ed Sheeran', 'Beyoncé', 'Bruno Mars', 'Kendrick Lamar']
After Removing 'Drake': ['The Weeknd', 'Prince', 'Dua Lipa', 'Ariana Grande', 'Billie Eilish', 'Olivia Rodrigo', 'Taylor Swift', 'Ed Sheeran', 'Beyoncé', 'Bruno Mars', 'Kendrick Lamar']
After updating 'Prince': ['The Weeknd', 'The Artist formerly known as Prince', 'Dua Lipa', 'Ariana Grande', 'Billie Eilish', 'Olivia Rodrigo', 'Taylor Swift', 'Ed Sheeran', 'Beyoncé', 'Bruno Mars', 'Kendrick Lamar']
Raw String: The,BodyGuard,is,the,best,album
List from String: ['The', 'BodyGuard', 'is', 'the', 'best', 'album']

In [96]:
exampleList = [1, 2, 3, 4, 5]
print("Example List before append:", exampleList)
sampleList = exampleList
exampleList.append(6)
print("After appending 6 to exampleList:")
print("\tExample List:", exampleList)
print("\tSample List:", sampleList)

exampleList2 = [6, 7, 8, 9, 10]
print("Example List 2 before append:", exampleList2)
sampleList2 = exampleList2[:]
sampleList3 = exampleList2.copy()
exampleList2.append(11)
print("After appending 11 to exampleList2:")
print("\tExample List 2:", exampleList2)
print("\tSample List 2 using slicing:", sampleList2)
print("\tSample List 3 using .copy():", sampleList3)

Example List before append: [1, 2, 3, 4, 5]
After appending 6 to exampleList:
	Example List: [1, 2, 3, 4, 5, 6]
	Sample List: [1, 2, 3, 4, 5, 6]
Example List 2 before append: [6, 7, 8, 9, 10]
After appending 11 to exampleList2:
	Example List 2: [6, 7, 8, 9, 10, 11]
	Sample List 2 using slicing: [6, 7, 8, 9, 10]
	Sample List 3 using .copy(): [6, 7, 8, 9, 10]

In [110]:
# List Quiz
quizList = [1, 'hello', [1, 2, 3], True]
print(quizList)
# index 1 value
print(quizList[1])
# retrieve elements 1, 2, and 3 from the list
print(quizList[1:4])
# concatenate two lists 
A_list = [1, 'a']
B_list = [2, 1, 'd']
C_list = A_list + B_list
print("Concatenated List from list addition:", C_list)
D_list = A_list.copy()
D_list.extend(B_list)
print("Concatenated List from .copy() and .extend():", D_list)
# empty list
empty_list = []
print("Empty List:", empty_list)
# Shopping list exercise
shopping_list = []
# initialize with core list items
shopping_list.extend(['watch', 'laptop', 'shoes', 'pen', 'clothes'])
# add one missing item Football to the list
shopping_list.append('Football')
# print first item from the list
print("First item on the shopping list:", shopping_list[0])
# print last item from the list
print("Last item on the shopping list:", shopping_list[-1])
# print the list
print("Complete Shopping List:", shopping_list)
# print only laptop and shoes
print("Laptop and Shoes from the shopping list:", shopping_list[1:3])
# change item from list pen to notebook
shopping_list[3] = 'notebook'
print("Updated Shopping List (pen to notebook):", shopping_list)
# delete clothes from the list
shopping_list.remove('clothes')
print("Shopping List after removing clothes:", shopping_list)

[1, 'hello', [1, 2, 3], True]
hello
['hello', [1, 2, 3], True]
Concatenated List from list addition: [1, 'a', 2, 1, 'd']
Concatenated List from .copy() and .extend(): [1, 'a', 2, 1, 'd']
Empty List: []
First item on the shopping list: watch
Last item on the shopping list: Football
Complete Shopping List: ['watch', 'laptop', 'shoes', 'pen', 'clothes', 'Football']
Laptop and Shoes from the shopping list: ['laptop', 'shoes']
Updated Shopping List (pen to notebook): ['watch', 'laptop', 'shoes', 'notebook', 'clothes', 'Football']
Shopping List after removing clothes: ['watch', 'laptop', 'shoes', 'notebook', 'Football']

In [115]:
tuple1 = ('disco', 10, 1.2)
print(tuple1)
print(tuple1[0], type(tuple1[0]))        # First element
print(tuple1[1], type(tuple1[1]))        # Second element
print(tuple1[2], type(tuple1[2]))        # Third element
print(type(tuple1))     # Tuple type
# tuples are immutable
# tuple1[0] = 'hard rock'  # This will raise an error
print("Tuple Slicing:", tuple1[0:2])  # Slicing works like lists
print("Tuple Repetition:", tuple1 * 2)  # Repetition works like lists
print("Tuple Concatenation via addition:", tuple1 + (2024, 'hard rock'))  # Concatenation works like lists
print("Tuple Length:", len(tuple1))  # Length of the tuple'
print("Negative Indexing:", tuple1[-1])  # Negative indexing works like lists
print("Membership Test (10 in tuple):", 10 in tuple1)  # Membership
print("sorting a tuple using sorted(), note this returns a list:", sorted((3, 1, 2)), type(sorted((3, 1, 2))))  # Sorting a tuple returns a list

('disco', 10, 1.2)
disco <class 'str'>
10 <class 'int'>
1.2 <class 'float'>
<class 'tuple'>
Tuple Slicing: ('disco', 10)
Tuple Repetition: ('disco', 10, 1.2, 'disco', 10, 1.2)
Tuple Concatenation via addition: ('disco', 10, 1.2, 2024, 'hard rock')
Tuple Length: 3
Negative Indexing: 1.2
Membership Test (10 in tuple): True
sorting a tuple using sorted(), note this returns a list: [1, 2, 3] <class 'list'>

In [118]:
nestedTupleExample = (1, 2, (3, 4), (5, 6))
print(nestedTupleExample)
print('nested tuple 1: ', nestedTupleExample[2])
print('nested tuple 2: ', nestedTupleExample[3])
print('element 1 from nested tuple 1: ', nestedTupleExample[2][0])
print('element 2 from nested tuple 2: ', nestedTupleExample[3][1])
print(type(nestedTupleExample))

(1, 2, (3, 4), (5, 6))
nested tuple 1:  (3, 4)
nested tuple 2:  (5, 6)
element 1 from nested tuple 1:  3
element 2 from nested tuple 2:  6
<class 'tuple'>

In [122]:
# Quiz on Tuples
genreTuple = ('pop', 'rock', 'soul', 'hard rock', 'soft rock', 'R&B', 'progressive rock', 'disco')
print('genre tuple:', genreTuple)
print('length of tuple:', len(genreTuple))
print('3rd element:', genreTuple[2])
print('slice from index 3 to 5:', genreTuple[3:6])
print('slice first two elements:', genreTuple[:2])
print('index of \'s\' in disco:', genreTuple[-1].index('s'))  # Finding index of 's' in the last element 'disco'
print('generate sorted list of tuple (-5, 1, -3) using sorted command:', sorted((-5, 1, -3)))

genre tuple: ('pop', 'rock', 'soul', 'hard rock', 'soft rock', 'R&B', 'progressive rock', 'disco')
length of tuple: 8
3rd element: soul
slice from index 3 to 5: ('hard rock', 'soft rock', 'R&B')
slice first two elements: ('pop', 'rock')
index of 's' in disco: 2
generate sorted list of tuple (-5, 1, -3) using sorted command: [-5, -3, 1]